{% extends '::base.html.twig' %}

  {% block title %}Kontakty{% endblock %}

{% block body %}
    <div class="container">

        {% block all %}
            <h1>Kontakty</h1>

            {% block search %}

                <div>
                    <form name="input" action="{{ path('searchPost') }}" method="post">
                        <label>
                            Wyszukaj:
                            <input type="text" name="name"/></label>

                        <input type="submit" name="submit" value="Znajdź">

                    </form>
                </div>

            {% endblock %}

            {% if searchName is defined %}
                <h2> Wynik dla {{ searchName }}: </h2>
            {% endif %}


            {% block share %}{% endblock %}

                <div class="table-responsive">
                    <br>
                    <table class="table">

                        {% for person in persons %}
                            <tr>
                                <td><img width="80px"
                                         src="{{ asset('photos/'~ person.photoPath) }}" class="img-thumbnail"/></td>
                                <td><a href="{{ path('showOne', {'id': person.id }) }}"> {{ person.firstName }} {{ person.lastName }}</a> </td>
                                {# Można zrobić, żeby użytkownicy mogli dalej udostępniać kontakty lub, że można tylko swoje #}
                                <td><a href="{{ path('share', {'id': person.id }) }}">Udostępnij</a></td>
                                <td>

                                    <a href="{{ path('deletePerson', {'id': person.id}) }}"
                                       class="glyphicon glyphicon-trash"></a>
                                </td>

                            </tr>


                        {% endfor %}

                    </table>

                </div>

            <hr>
            <a href="{{ path('new') }}">
                <h3>Dodaj nowy kontakt</h3>
            </a>

            {#<h3>Przeglądaj grupami: </h3>#}
            {#<br>#}
            {#{% render '/showAllGroups' %}#}

            {#<br><br>#}

            {#<a href="{{ path('showNewGroup') }}">#}
            {#<button>Dodaj grupę</button>#}
            {#</a>#}


        {% endblock all %}


    </div>


{% endblock %}

